page-home {

  .scroll {
      height: 100%
    }

    #map {
      width: 60%;
      height: 70%;
    }

    // #mapCanva{
    //   height: 500px;
    //   margin: 0;
    //   padding: 0;
    // }

}
